body {
  font-family: 'Ubuntu', sans-serif;
}

.lucas {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 34px;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #FFFFFF;
}

.block__text_h3 {
font-family: 'Ubuntu', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 34px;
letter-spacing: 0.01em;
color: #FFFFFF;
}
.block__text p:nth-child(2) {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.block__text p:nth-child(3) {
  font-family: 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.btn {
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
}

.portfolio__text h2 {
  font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

.portfolio__text p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.footer__card_text h3 {
font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 25px;
letter-spacing: 0.01em;
text-transform: uppercase;
color: #FFFFFF;
}

.footer__card_text p:nth-child(2) {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__card_text p:nth-child(3) {
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

address {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.modal__form_name{
  color: #FFFFFF;
}
.modal__form_email{
  color: #FFFFFF;
}
.modal__title {
font-family:'Ubuntu', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

.modal__text {
font-family:'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.01em;
color: #FFFFFF;
}


.modal__form_commit {
  font-family:'Ubuntu', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.01em;
color: #FFFFFF;
}

.modal__form_btn {
  font-family:'Ubuntu', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 21px;
text-align: center;
letter-spacing: 1.5px;
text-transform: uppercase;
color: #FFFFFF;
}