@import url(./fonts.css);

body {
  margin: -20px 0;
  padding: 0;
}
.conteiner__body {
  width: 1440px;
  height: 1488px;
  background: #272A2F;
}

.header {
  width: 100%;
  height: 58px;
  position: relative;
  background: #19849B;
}
.lucas {
  position: relative;
  left: calc(50% - 264px/2 - 5px);
  top: calc(50% - 34px/2);
}

.main {
  width: 1038px;
  margin: 51px 174px 0 227px;
}

.block {
  display: flex;
  height: 355px;
}
.block__text {
  margin: -30px 0px 0px 69px;
  width: 559px;
}
.block__text_h3 {
  border-bottom: 4px solid  #19849B;
    height: 82px;
}

.block__text p:nth-child(2) {
  margin-top: -18px;
}

.block__text p:nth-child(3) {
  margin: 29px 0 31px 0;
}
.btn {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  width: 293px;
  height: 50px;
  background: #272A2F;
}

.portfolio {
  margin: 105px 0 0 0;
}
.portfolio__text {
  width: 760px;
}

.portfolio__text p {
  margin: -7px 0 29px 0px;
}
.portfolio__image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 509px;
  align-content: space-between;
}